openapi: 3.0.3
info:
  title: "Adria Concept Title - Adria-12"
  description: "Description of the Adria API - Adria-12"
  version: 0.0.1
servers:
  - url: https://project-2.ti.howest.be/2023-2024/group-12/
    description: "Public API"
  - url: http://localhost:8080/
    description: "Local API"
paths:
  /api/stations:
    get:
      description: Get stations
      operationId: getStations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/station"
  /api/reservations:
    get:
      description: Get reservations
      operationId: getReservations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/reservation"
    post:
      description: Create a reservation
      operationId: createReservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reservationProposal"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/reservation"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
  /api/tracks:
    get:
      description: Get tracks
      operationId: getTracks
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/track"
  /api/events:
    get:
      description: Search through events
      operationId: searchEvents
      parameters:
        - in: query
          name: target
          schema:
            type: integer
          description: Only display events with exact target
          example: 5
        - in: query
          name: earliest
          schema:
            $ref: "#/components/schemas/timestamp"
          description: Only display events after earliest
        - in: query
          name: latest
          schema:
            $ref: "#/components/schemas/timestamp"
          description: Only display events before latest
        - in: query
          name: subject
          schema:
            type: string
          description: Only display events with exact subject
          example: MOVE
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/event"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
    post:
      description: Push event
      operationId: pushEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/eventProposal"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/event"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
  /api/notifications/unread:
    post:
      description: Pop unread notifications
      operationId: popUnreadNotifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  example: Macrosoft
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/notification"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"
  /api/shuttles:
    get:
      description: Get registered shuttles
      operationId: getShuttles
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/shuttle"
    post:
      description: Register a shuttle
      operationId: registerShuttle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/shuttleProposal"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/shuttle"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/error"

components:
  schemas:
    error:
      type: object
      properties:
        failure:
          type: string
          example: 400
        cause:
          type: string
          example: "[Bad Request] Parsing error for parameter earliest in location QUERY: java.lang.NumberFormatException: For input string: \"llama\""
    angle:
      type: number
      minimum: -90
      maximum: 90
      example: 50.85
    timestamp:
      type: integer
      format: int64
      example: 1652434809000
    id:
      type: integer
      example: 1
    observable:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
      required:
        - id
    station:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
        name:
          type: string
          example: Adria
        latitude:
          $ref: "#/components/schemas/angle"
        longitude:
          $ref: "#/components/schemas/angle"
      required:
        - id
        - name
        - latitude
        - longitude
    track:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
        station1:
          $ref: "#/components/schemas/station"
        station2:
          $ref: "#/components/schemas/station"
    reservation:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
        company:
          type: string
          example: Macrosoft
        periodStart:
          $ref: "#/components/schemas/timestamp"
        periodStop:
          $ref: "#/components/schemas/timestamp"
        route:
          type: array
          items:
            $ref: "#/components/schemas/track"
      required:
        - id
        - company
        - periodStart
        - periodStop
        - route
    event:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
        target:
          $ref: "#/components/schemas/observable"
        moment:
          $ref: "#/components/schemas/timestamp"
        subject:
          type: string
          example: MOVE
        reason:
          type: string
          example: Snorlax on track
        latitude:
          $ref: "#/components/schemas/angle"
        longitude:
          $ref: "#/components/schemas/angle"
      required:
        - id
        - target
        - moment
        - subject
    shuttle:
      type: object
      properties:
        id:
          $ref: "#/components/schemas/id"
        serial:
          type: string
          example: AAA-47F-AF24
      required:
        - id
        - serial
    notification:
      type: object
      properties:
        event:
          $ref: "#/components/schemas/event"
        company:
          type: string
          example: Macrosoft
        read:
          type: boolean
          example: false
      required:
        - event
        - company
        - read
    eventProposal:
      type: object
      properties:
        target:
          $ref: "#/components/schemas/id"
        moment:
          $ref: "#/components/schemas/timestamp"
        subject:
          type: string
          example: MOVE
        reason:
          type: string
          example: Snorlax on track
        latitude:
          $ref: "#/components/schemas/angle"
        longitude:
          $ref: "#/components/schemas/angle"
      required:
        - target
        - moment
        - subject
    reservationProposal:
      type: object
      properties:
        company:
          type: string
          example: John
        periodStart:
          $ref: "#/components/schemas/timestamp"
        periodStop:
          $ref: "#/components/schemas/timestamp"
        route:
          type: array
          items:
            $ref: "#/components/schemas/id"
      required:
        - company
        - periodStart
        - periodStop
        - route
    shuttleProposal:
      type: object
      properties:
        serial:
          type: string
          example: AAA-47F-AF24
      required:
        - serial
